@import "../public/variables.scss";
@import "../public/mixins.scss";

#timeAxis{
  @include flex-center(column);

  .title{
    font-size: 22px;
    text-shadow: 2px 2px 2px #626262;
    height: 70px;
    line-height: 70px;
  }

  .el-pagination{
    margin: 30px;
  }

  .is-background{

    .btn-prev,
    .number,
    .more,
    .btn-next{
      background-color: #fff;
    }

    .active{
      background-color: #4AB8EA;
    }
  }
}